<!doctype html>
  <body>
    <table>
     <thead>
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Author</th>
          <th>Pages</th>
        </tr>
      </thead>
      <tbody>
          {% for name, author in root.iteritems() %}
          <tr>
            <td> {{ cover }} </td>
            <td class = "field title">
              <div class ="value">
                <a href="/book/{{ name }}">{{ name }}</a>
                </div>
              </td>
            <td> {{ author }} </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </body>

</html>
