<!doctype html>
  <body>
    <table>
     <thead>
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Author</th>
          <th>Pages</th>
        </tr>
      </thead>
      <tbody>
          {% for cover, name, author in root %}
          <tr>
            <td> <img src"('static', filename=' {{ cover }} ')"> </td>
            <td class = "field title">
              <div class ="value">
                <a href="/book/{{ name }}">{{ name }}</a>
              </div>
            </td>
            <td> {{ author }} </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </body>

</html>
