{% extends "layout.html" %}

{% block title %}Home{% endblock %}

<!-- Header -->
{% block header %}

  <h1>My Book List</h1>

{% endblock %}

<!-- Content -->
{% block content %}
    
    <table class="catalogue">
     
     <thead>
       
       <tr>
          
          <th><h1>Cover</h1></th>
          
          <th><h1>Name</h1></th>
          
          <th><h1>Author</h1></th>
          
          <th><h1>Pages</h1></th>
       
       </tr>

      </thead>
     
      <tbody>
          
          {% for cover, name, author in root %}
          
          <tr>
          
            <td> <img src="/static/{{ cover }}" alt={{
            name }} width="120" height="100" /> </td>
            
            <td class = "field title">
              <div class ="value">
               <a href="/book/{{ name }}">{{ name }}</a>
              </div>
            </td>
            
            <td> {{ author }} </td>
          
          </tr>
          
          {% endfor %}
     
     </tbody>
    
    </table>

{% endblock %}
