<!doctype html>
<html>
 
  <!-- Head -->
  <head>
    {% block head %}
     
     <link rel="stylesheet" href="/static/css/style.css">
     
     <title>My Book Collection | {% block title %}{% endblock %}</title>

    {% endblock %}

  </head>

  <!-- Body -->
  <body>

    <div id="container">
      
      <div id="header">
        {% block header %}
        {% endblock %}
      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div id="footer">
        {% block footer %}
        {% endblock %}
      </div>

    </div>

  </body>

</html>
