{% extends "layout.html" %}

{% block title %}Login{% endblock %}

<!-- Header -->
{% block header %}

  <h1>My Book List</h1>

{% endblock %}

<!-- Content -->
{% block content %}

    <form action="/login" method="POST">
            <div class="login">
                    <div class="loginScreen">
                        <div class="loginTitle">
                              <h1>Please Login</h1>
                        </div>

                        <div class="loginForm">
                                <div class="controlGroup">
                                
                                <h2>Login Page</h2>
                                <input type="text" class="login-field" placeholder="Username" name="username" value="{{
                                   request.form.username }}">
                                  </div>

                                  <div class="controlGroup">
                                  <input type="password" class="login-field" placeholder="Password" name="password" value="{{
                                   request.form.password }}">
                                   </div>
                          <input type="submit" input class="btn btn-primary btn-large btn-block" type="submit" value="Login">
                          <p>user="admin" password="password"</p>
                          </div>
                      </div>
              </div>
    </form>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
{% endblock %}
